<div class="card">
    <div class="card-body">
        <div class="col-12">
                    
            <div class="row">
                <div class="col-4 text-center">
                    <p>
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                          ประวัติความเป็นมา
                        </button>
                      </p>
                </div>
                <div class="col-4 text-center">      
       
          <p>
            <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">
              ตราสัญลักษณ์
            </button>
          </p>
         
                </div>
                <div class="col-4 text-center">
                    <p>
                        <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">
                         ปณิธาน วิสัยทัศน์ พันธกิจ ยุทธศาสตร์
                        </button>
                      </p>
                </div>

                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา เดิมเป็นสถานีวิจัยและสถานที่ฝึกงานเพื่อการศึกษาและวิจัยของนิสิตมหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตบางเขน และในปี พ.ศ. 2532 มหาวิทยาลัยเกษตรศาสตร์ได้เสนอ “โครงการจัดตั้งวิทยาเขตศรีราชา”ต่อทบวงมหาวิทยาลัย โดยมีวัตถุประสงค์เพื่อปรับเปลี่ยนเป็นสถาบันจัดการเรียนการสอนในสาขาวิชาที่รองรับการขยายตัวทางเศรษฐกิจ และการพัฒนากำลังคนในเขตภูมิภาคชายฝั่งทะเลตะวันออก ตลอดจนเป็นการขยายโอกาสทางการศึกษาในเขตภูมิภาคตะวันออก ทั้งนี้สามารถสรุปการพัฒนาวิทยาเขตศรีราชา ตั้งแต่ปี พ.ศ. 2533 ถึงปีปัจจุบัน
                    </div>
                  </div>
            </div>

            <div class="collapse" id="collapseExample1">
                <div class="card card-body">
                    <div class="col-12">
                    
                        <div class="row">
                            <div class="col-4">
                                <img src="https://www.src.ku.ac.th/info/images/LogoKU/KUSRC.png" class="img-thumbnail">
                            </div>
                            <div class="col-4">
                                <img src="https://www.src.ku.ac.th/info/images/LogoKU/ku_black_medium.jpg" class="img-thumbnail">
                                
                            </div>
                            <div class="col-4">
                                <img src="https://www.src.ku.ac.th/info/images/LogoKU/ku_color_medium.jpg" class="img-thumbnail">
                                
                            </div>
                        </div></div></div>
                </div>
                <div class="collapse" id="collapseExample2">
                    <div class="card card-body">
                        <div class="col-12">
                    
                            <div class="row">
                                <div class="col-3">
                                    
                                    
                                </div>
                                <div class="col-6 ">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">ปณิธาน</h5>
                                            วิทยาเขตศรีราชามีความมุ่งมั่นที่จะพัฒนาทรัพยากรมนุษย์ให้มีความรู้ มีภูมิปัญญา มีคุณธรรมและจริยธรรม เพื่อเสริมสร้างความเจริญก้าวหน้าและสืบทอดมรดกที่ดีงามของสังคม โดยความร่วมมือระหว่างสถาบันการศึกษากับภาครัฐและเอกชน
                                        </div>
                                      </div>
                                      <br>
                                      <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">วิสัยทัศน์</h5>
                                            มหาวิทยาลัยที่มุ่งเน้นการสร้างสรรค์นวัตกรรมดิจิทัล เพื่อพัฒนาเศรษฐกิจ สังคมและสิ่งแวดล้อม ในภาคตะวันออก
                                        </div>
                                      </div>
                                      <br>
                                      <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">พันธกิจ</h5>
                                            1. สร้างและพัฒนานวัตกรรม งานวิจัย และการบริการวิชาการ เน้นด้านดิจิทัล เพื่อพัฒนาเศรษฐกิจ สังคม และสิ่งแวดล้อม <br>
                                            2. สร้างคนที่มีความรู้ที่ทันสมัย มีทักษะในศตวรรษที่ 21 มีความสามารถในการสร้างนวัตกรรม <br>
                                            3. ร่วมพัฒนากับชุมชน และรับผิดชอบต่อสังคม <br>
                                            4. สืบสานทำนุบำรุงศิลปะ วัฒนธรรม และดำรงอัตลักษณ์ของมหาวิทยาลัย <br>
                                            5. บริหารทรัพยากรมหาวิทยาลัยอย่างมีประสิทธิภาพอ <br>
                                        </div>
                                      </div>
                                      <br>
                                      <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">ยุทธศาสตร์</h5>
                                            1. เป็นองค์กรแห่งดิจิทัล (Digital)<br>
                                            2. เป็นองค์กรผลิตคนที่เป็นเลิศ (Manpower)<br>
                                            3. เป็นองค์กรที่มุ่งเน้นการสร้างนวัตกรรม (Innovation)<br>
                                            4. วัฒนธรรมองค์กรและการบริหารจัดการที่ดี<br>
                                            5. การปรับปรุงกายภาพและระบบความปลอดภัย<br>
                                            6. การสื่อสารองค์กรที่ครอบคลุม<br>
                                            7. การสร้างรายได้เพื่อการพัฒนาและพึ่งพาตนเอง<br>
                                            8. การทำนุบำรุงศิลปวัฒนธรรมที่ดี<br>
                                        </div>
                                      </div>
                                
                                </div>
                                <div class="col-3">
                                    
                                </div>
                                
            
                            </div>
    
              
            </div></div>
                    </div>
              </div>

    </div>
  </div>
<br>
<div class="card text-center">
    <div class="card-header">
        แผนผังภายในวิทยาเขตศรีราชา
    </div>
    <div class="card-body">
            <div class="row">
                <div class="col-12">
                    
                    <div class="row">
                        <div class="col-3">
                            
                        </div>
                        <div class="col-6 text-start">
                            1. อาคาร 1 บริการวิทยาการ     [ที่ทำการสำนักงานวิทยาเขต]<br>
                            2. อาคาร 2 ปฏิบัติการวิศวกรรมศาสตร์      [ที่ทำการคณะวิทยาศาสตร์ ศรีราชา] <br>
                            3. อาคาร 3 ปฏิบัติการวิศวกรรมศาสตร์การบินและอวกาศยาน <br>
                            4. อาคาร 4 พักอาศัยบุคลากร<br>
                            5. อาคาร 5 วิทยาศาสตร์พื้นฐาน<br>
                            6. อาคาร 6 ศูนย์เรียนรวม<br>
                            7. อาคาร 7 โรงอาหารกลาง<br>
                            8. อาคาร 8 หอพักนิสิต <br>
                            9. อาคาร 9 ศูนย์กิจกรรม<br>
                            10. อาคาร 10 ศูนย์เรียนรวม 2       [ที่ทำการคณะวิทยาการจัดการ]<br>
                            11. อาคาร 11 สถานที่และยานพาหนะ<br>
                            12. อาคาร 12 ศรีธรรมเกษตร<br>
                            13. อาคาร 13 พลศึกษา<br>
                            14. อาคาร 14 หอสมุดอนุสรณ์ 10 ปี <br>
                            15. อาคาร 15 ปฏิบัติการวิทยาศาสตร์และเทคโนโลยี<br>
                            16. อาคาร 16 รักษาความปลอดภัย<br>
                            17. อาคาร 17 ศูนย์เรียนรวม 3<br>
                            18. อาคาร 18 เศรษฐศาสตร์ศรีราชา       [ที่ทำการคณะเศรษฐศาสตร์ ศรีราชา]<br>
                            19. อาคาร 19 พักอาศัยบุคลากร 2<br>
                            20. อาคาร 20 สระว่ายน้ำ <br>
                            21. อาคาร 21 สนามฟุตซอล<br>
                            22. อาคาร 22 อาคารธุรกิจศึกษา<br>
                            23. อาคาร 23 อาคารคณะวิศวกรรมศาสตร์ศรีราชา     [ที่ทำการคณะวิศวกรรมศาสตร์ศรีราชา]<br>
                            24. อาคาร 24 อาคารคณะพาณิชยนาวีนานาชาติ        [ที่ทำการคณะพาณิชยนาวีนานาชาติ]<br>
                            25. อาคาร 25 ศูนย์คอมพิวเตอร์<br>
                            26. อาคาร 26 อาคารคณะวิทยาศาสตร์ ศรีราชา<br>
                        </div>
                        <div class="col-3">

                        </div>
    
                    </div>
       
        <br>
                 <div> <a href="https://goo.gl/maps/oJ9PYJQBPC7yktwv6" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="แผนที่มหาวิทยาลัยเกษตรศาสตร์">แผนที่</a></div>  
        <img src="https://www.src.ku.ac.th/en/img/Map61.PNG" class="img-fluid">
      
    </div></div>
      
    </div>
   
  </div>