
<div class="card">
    <div class="card-header text-center">
      ที่อยู่
    </div>
    <div class="card-body text-center">
        มหาวิทยาลัยเกษตรศาสตร์ วิทยาเขตศรีราชา<br>
        เลขที่ 199 หมู่ 6 ถนนสุขุมวิท ต.ทุ่งสุขลา อ.ศรีราชา จ.ชลบุรี 20230 โทรศัพท์ : 0-3835-4580-4 (666103)
        </div>
        
  </div>
  <br>
  <div class="card">
    <div class="card-header text-center">
      ช่องทางการติดต่อ
    </div>
    <div class="card-body">
        <div class="col-12">
                    
            <div class="row">
                <div class="col-3">
                   
                </div>
                <div class="col-3">
                    คณะวิทยาการจัดการ<br>
                    คณะวิศวกรรมศาสตร์ศรีราชา<br>
                    คณะวิทยาศาสตร์ ศรีราชา<br>
                    คณะเศรษฐศาสตร์ ศรีราชา<br>
                    คณะพาณิชยนาวีนานาชาติ<br>
                    สำนักงานวิทยาเขต<br>
                    หน่วยประสานงานวิทยาเขตศรีราชา<br> (ชั้น1 อาคาร 50 ปี บางเขน)
                </div>
                <div class="col-3">
                    0-3835-4580-4 (662202)<br>
                    0-3835-4587-8 (663014)<br>
                      0-3835-2902, 081-781-0934 (664302)<br>
                    0-3835-4580-4 (665301)<br>
                   0-3835-4580-4 (666103)<br>
                   0-2942-8878 (644013)<br>
                    0-3835-2828 (661000)<br>
                </div>
                <div class="col-3">
                   
                </div>
              
            </div></div>
        
                     
				
				
			
       
        </div>
        
  </div>
  <br>
  <div class="card">
    <div class="card-header text-center">
      Follow us
    </div>
    <div class="card-body text-center">
        <a href="https://web.facebook.com/KUSriracha/?_rdc=1&_rdr" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="bottom" title="เพจของมหาวิทยาลัย">KU SRC</a>
        
           
        </div>
        
  </div>
